<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .round {border-radius: 8%}
</style>
<head>
    <meta charset="UTF-8">
    <title>Just Listen</title>
</head>
<body class="w3-main w3-black">
    <div class="w3-panel w3-jumbo w3-display-topmiddle">
        <h1 class="w3-jumbo" style="text-shadow:1px 1px 0 #444">
            <b>Welcome To:</b>
        </h1>
        <h1 class="w3-wide w3-jumbo w3-text-yellow" style="text-shadow:1px 1px 0 #444">
            <b>Just Listen</b>
        </h1>
    </div>
    <a class="w3-display-middle" href="{{ auth_url }}">
        <button class="round w3-button w3-green w3-jumbo">
            Login
        </button>
    </a>
</body>
</html>